<h1>メッセージ一覧</h1>

<ul>
    <% @messages.each do |message| %>
      <li><%= message.content %> : <%= message.title %> &gt; <%= message.content %></li>
    <% end %>
</ul>
<%= paginate @messages %>

<%= linl_to '新規メッセージの投稿', new_message_path %>